@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   text-decoration: none;
   scroll-behavior: smooth;
}

:root {
    --wht: rgba(255, 255, 255, 1);
    --blk: rgba(0, 0, 0, 1);
    --blk2: rgba(0, 22, 10, 1);
    --gry: rgb(192, 192, 192);
    --gry2: rgba(161, 161, 161, 1);
    --gry3: rgba(197, 197, 197, 1);
    --red: rgba(246, 24, 24, 1);
    --red2: rgba(255, 109, 0, 1);
    --ylw: rgba(255, 214, 0, 1);
    --grn: rgba(38, 172, 109, 1);
    --ble: rgba(3, 155, 229, 1);
}

body {
    font-size: 62.5%;
    background-color: var(--gry);
    position: relative;
    background-image: url(/src/assets/Images/blue-wavy-background.jpg);
    background-size: cover;
}